.searchBarContainer {
    margin-left: 30px;
}

.searchInput { 
    height: 36px;
    width: 300px;
    min-width: 250px;
    padding: 5px;
    border: 2px solid #425462;
}

.searchBarLegend {
    color: #212b32;
    padding-bottom: 16px;
    font-weight: 600;
}