.details-container {
    width: 41%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 50px;
}

.confirm-order-btn {
  width: 65%;
  align-items: flex-start;
  text-align: left;
  margin-top: 36px;
}   