.buttons__btn {
  width: 90px;
  padding: 5px;
  border: 2px solid #5f3dc4;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  height: 44px;
}

.buttons__btn:hover {
  opacity: 0.7;
}

.buttons__add {
  background: white;
  color: #5f3dc4;
}

.buttons__add:disabled {
  color: #768692;
  background: white;
  border-color: #768692;
  cursor: not-allowed;
  opacity: 1;
}

.productItemContainer {
  border-bottom: 2px solid #aeb7be;
  padding: 35px 0px;
  width: 65%;
  padding-bottom: 36px;
}

.productItemHeader {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 16px;
  color: #212b32;
}

#productLink {
  text-decoration: none;
  color: #212b32;
}

#productLink:hover {
  text-decoration: underline;
}

.productItemDesc {
  color: #425462;
  margin-bottom: 16px;
}

.productItemDetail {
  margin-bottom: 16px;
}

.productItemDetail #detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  color: #212b32;
}

.productItemInputs {
  display: flex;
  flex-direction: row;
  width: 750px;
  justify-content: space-between;
}

.productItemImg {
  max-width: 100%;
  margin: auto;
}

.qtyInput {
  width: 68px;
  margin: auto;
  height: 30px;
  margin-top: 2px;
  padding: 3;
  border: 2px solid #425462;
}
