/* .dropdownContainer {
    width: 100%;
} */

.dropdownLegend {
    padding-bottom: 16px;
    font-weight: 600;
    color: #212b32;
}

.dropdownSelect {
    height: 36px;
    width: 300px;
    min-width: 250px;
    padding: 5px;
    border: 2px solid #425462;
}