.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  background: #02594c;
  position: sticky;
  top: 0;
  left: 0;
  height: 72px;
}

.sign_in_link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}