.customButton {
    padding: 14px;
    color: white;
    background-color: #5f3dc4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600
}

.customButton:hover {
    background-color: #4c319d;
    cursor: pointer;
}

.customButton:disabled {
    background-color: #d8dde0;
    color: #768692;
    cursor: not-allowed;
}