.login-container {
  width: 41%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 50px;
}

.login-form-input-legend {
  color: #212b32;
  padding-bottom: 16px;
  font-weight: 600;
}

.login-form-btn {
  width: 65%;
  align-items: flex-start;
  text-align: left;
  margin-top: 36px;
}   

.username-input,
.password-input {
  height: 36px;
  width: 300px;
  min-width: 250px;
  padding: 5px;
  border: 2px solid #425462;
}