.cartItem__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-color);
}

.details__title {
  font-size: 21px;
  font-weight: bold;
}

.details__desc {
  font-size: 0.8rem;
}

.cartItem__actions {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 20%;
}

.quantityInput {
  width: 68px;
  margin: auto;
  height: 30px;
  margin-top: 2px;
  padding: 3px;
  border: 2px solid #425462; 
}